* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: orangered;
    text-shadow: 0.5px 1px white;
}

section {
    padding: 20px;
    max-width: 450px;
    margin: auto;
    background-color: rgb(10, 127, 95);
    text-align: center;
    border-radius: 10px;
}

#msgI {
    background-color: #6d34345e;
    position: absolute;
    bottom: 5px;
    right: 23px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 2px;
    opacity: 0;
    transition: 1s all;
}

#msgII {
    background-color: #6d34345e;
    position: absolute;
    bottom: 55px;
    left: 95px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 3px;
    opacity: 0;
    transition: all 1s;
}

#msgIII {
    opacity: 0;
    animation: alerta 0.5s infinite;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    font-weight: 900;
}

#pedais {
    border-radius: 10px;
    margin: auto;
    position: relative;
    width: 350px;
    height: 300px;
    border: 1px solid black;
    background-image: url(../image/pedais.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#accel {
    cursor: grabbing;
    position: absolute;
    right: 22px;
    bottom: 30px;
    width: 75px;
    height: 155px;
    opacity: 0;
}

#break {
    cursor: grabbing;
    position: absolute;
    left: 39px;
    bottom: 85px;
    width: 145px;
    height: 70px;
    opacity: 0;
}

#km {
    padding: 10px;
    margin: 10px;
    background-color: orangered;
    font-weight: 900;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s all;
}

#mph {
    padding: 10px;
    margin: 10px;
    background-color: red;
    font-weight: 900;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.high-speed {
    color: red
}

.normal-speed {
    color: black;
}

#displayMiles {
    display: none;
    background-color: red;
    width: 300px;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
    box-shadow: 1px 1px 1px 1px black;
}


#displayKm {
    background-color: orangered;
    width: 300px;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
    box-shadow: 1px 1px 1px 1px black;
}

@keyframes alerta {
    to {
        background-color: rgb(225, 188, 188);
    }

    from {
        background-color: red;
    }

    to {
        color: black;
    }

    from {
        color: white;
    }
}